$globe-width:   11px;
$globe-height:  25px;
$globe-spacing: 40px;
$globe-spread: 3px;

$light-off-opacity: 0.4;
$box-shadow-opacity: 0.2;

$color-1: rgba(0, 247, 165, 1);
$color-1-lights-off: rgba($color-1, $light-off-opacity);
$color-1-box-shadow: rgba($color-1, $box-shadow-opacity);

$color-2: rgba(0, 255, 255, 1);
$color-2-lights-off: rgba($color-2, $light-off-opacity);
$color-2-box-shadow: rgba($color-2, $box-shadow-opacity);

$color-3: rgba(247, 0, 76, 1);
$color-3-lights-off: rgba($color-3, $light-off-opacity);
$color-3-box-shadow: rgba($color-3, $box-shadow-opacity);


//TODO add messaging to remove popup
//TODO add icon to represent extension
//TODO play with colors

#xmas-lights-extension-root {
  width: 100%;
  height: fit-content;
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 2147483647;
  background-color: transparent;
  box-shadow: none;
}

.lightrope {
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  z-index: 1;
  margin: -15px 0 0 0;
  padding: 0;
  pointer-events: none;
  width: 100%;
  li {
    position: relative;
    animation-fill-mode: both;
    animation-iteration-count:infinite;
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
    width: $globe-width;
    height: $globe-height;
    border-radius: 50%;
    margin: $globe-spacing/2;
    display: inline-block;
    background: $color-1;
    box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread $color-1;
    animation-name: flash-1;
    animation-duration: 2s;
    &:nth-child(2n+1) {
      background: $color-2;
      box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread $color-3;
      animation-name: flash-2;
      animation-duration: 0.4s;
    }
    &:nth-child(4n+2) {
      background: $color-3;
      box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread $color-3;
      animation-name: flash-3;
      animation-duration: 1.1s;
    }
    &:nth-child(odd) {
      animation-duration: 1.8s;
    }
    &:nth-child(3n+1) {
      animation-duration: 1.4s;
    }
    &:before {
      content: "";
      position: absolute;
      background: #222;
      width: ($globe-width - 2);
      height: $globe-height/3;
      border-radius: 3px;
      top: (0 - ($globe-height/6));
      left: 1px;
    }
    &:after {
      content: "";
      top: (0 - $globe-height/2);
      left: $globe-width - 3;
      position: absolute;
      width: $globe-spacing + 12;
      height: ($globe-height/3 * 2);
      border-bottom: solid #222 2px;
      border-radius: 50%;
    }
    &:last-child:after {
      content: none;
    }
    &:first-child {
      margin-left: -$globe-spacing;
    }
  }
}
@keyframes flash-1 {
  0%, 100% { background: $color-1;
    box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread $color-1;}
  50% { background: $color-1-lights-off;
    box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread $color-1-box-shadow;}
}
@keyframes flash-2 {
  0%, 100% { background: $color-2;
    box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread $color-2;}
  50% { background: $color-2-lights-off;
    box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread $color-2-box-shadow;}
}
@keyframes flash-3 {
  0%, 100% { background: $color-3;
    box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread $color-3;}
  50% { background: $color-3-lights-off;
    box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread $color-3-box-shadow;}
}